<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopciafa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/project_mini_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AgeGenderPredictionActivity"></activity>
        <activity android:name=".UpdateUserInformationActivity" />
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".MyAddressesActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainOpenningTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>